

@maxWidth: 1024px;

#container {
  margin: 10px auto;
  max-width: @maxWidth;
  min-height: 600px;
}

#footer {
  max-width: @maxWidth;
  text-align: center;
  border-top: 1px solid #eee;
  color: #ccc;
  margin: 10px auto;
  padding: 10px;
  font-size: 12px;

  a {
    color: #ccc;
    text-decoration: underline;
    margin: 0 4px;
  }
}
