
@import "~bootstrap/less/bootstrap.less";
@import "./common.less";

.container-fluid ,
form {
  max-width: 1024px;
  margin: 0 auto;
}

#content-table-view {
  max-height: 400px;
  overflow: auto;
}

.btn-sign-in-and-retry {
  margin-left: 20px;
}

.glyphicon-ok-sign {
  color: #008000;
}
.glyphicon-remove-sign {
  color: #f30;
}
